<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Simple Polls App</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'polls/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" />
    </head>
<body>
<hr>
<p> header</p>
<hr>
{% include "polls/header.html" %}
<div class="jumbotron">
    <div class="container">

        {% block main_content %}
        {% endblock %}
        {% include 'polls/footer.html' %}
    </div>
</div>

</body>
</html>