{% extends 'polls/base.html' %}

{% block main_content %}
<h1 class="display-3" id="polls_heading">Choose a Question</h1>
<ul>
 {% if latest_questions %}
    {% for question in latest_questions %}
    <li name="question_text">  <a name="question_link" href = "{% url 'polls:detail' question.id %}"> <b>{{question.question_text}}</b></a>  </li>
    {% endfor %}
</ul>

{% else %}
<p id="polls_empty">No Polls are available</p>
{% endif %}

{% endblock %}