{% extends 'polls/base.html' %}

{% block main_content %}

<h1 id="question_text">{{question.question_text}}</h1>
<ul>

    {% for choice in question.choice_set.all %}
        <li name="choice"> {{choice.choice_text}} == {{choice.votes}} vote{{choice.votes|pluralize}} </li>
    {% endfor %}
</ul>
<a href="{%url 'polls:detail' question.id %}">Vote Again?</a>
{% endblock %}